.container {
  max-width: 500px;
}

.profile {
  width: 30%;
  height: 30%;
}
table {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
table,
th,
td {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}
table#t01 th {
  background-color: rgb(80, 94, 223);
  color: white;
}
#saveimg {
  width: 20px;
  height: 20px;
}
table tr td input {
  width: 40px;
}
